@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
}

/* custom styles */
.custom__button {
  background-color: yellowgreen;
  border: none;
  font-size: 12px;
  font-weight: 200;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0px 5px;
}

/* main {
  padding: 0 50px;
} */
ul,
li {
  display: flex;
  align-items: center;
}

/* viewport width */
header {
  display: flex;
  /* width: 100vw; */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 8px 50px;
  font-size: 15px;
  color: rgb(20, 16, 37);
}

header h1 {
  font-size: 20px;
  font-weight: 100;
}

header nav li {
  font-size: 10px;
  padding: 0px 5px;
  background-color: none;
  color: darkblue;
}

nav {
  display: flex;
  align-items: center;
}

/* nav button {
  
} */

/* hero section */
.hero {
  padding: 20px 50px;
  background-color: beige;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero .hero__content {
  width: 50%;
}

.hero .hero__content h1 {
  color: darkblue;
  font-size: 30px;
  margin-bottom: 12px;
}

.hero .hero__content h2 {
  color: orange;
  font-size: 30px;
  margin-bottom: 12px;
}

.hero .hero__content p {
  font-size: 12x;
  margin-bottom: 12px;
}

.hero .hero__text {
  font-size: 8px;
}

.hero .hero__image {
  width: 50%;
}

.hero .hero__image img {
  height: 200px;
}

.hero .hero__image img::before {
  content: "";
  background-color: yellow;
  height: 100px;
  width: 100px;
}

/* services section */
.services {
  padding: 20px 50px;
  background-color: beige;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services__left {
  width: 50%;
}

.services__right {
  width: 50%;
}

.services .services__content h2 {
  color: orange;
  font-size: 30px;
  margin-bottom: 12px;
}

.services .services__content h3 {
  color: darkblue;
  font-size: 30px;
  margin-bottom: 12px;
}

.services p {
  font-size: 8px;
  margin: 10px 0px;
}

.card {
  width: 150px;
  padding: 10px;
  border: 1px solid gray;
  margin: 20px 0px; 
  text-align: center;
 
}

/* glass effect */
.glass__effect {
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.card button {
  border: none;
  font-size: 8px;
  color: blue;
  background-color: rgb(230, 230, 230);
  padding: 3px 10px;
  border-radius: 50px;
  display: block;
  text-align: center;
  margin: 5px auto;
}


.card p {
  margin: 8px 0px;
}